<h1>Stupid Coaching</h1>
<p style="border-left: 6px solid; border-color: #D8D4D4; padding: 15px; width: 500px;"><%= @question %><br><i>-You</i></p>
<p style="border-left: 6px solid; border-color: #D8D4D4; padding: 15px;background-color: #FAFBB7; width: 500px;"><strong><%= @answer %></strong><br><i>-Your coach</i></p>
<%= link_to "Ask a new question", ask_path %>
